// Define variables for your color scheme

// For example:
$red: #ac0104;
$blue: #002357;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Autoprefixer gem helps us with generating the right classes
// -webkit-color: blue;
// -mz-color: blue;
